<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787179059970-spcqmsd0lt5spg48fg602frseam4uuhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787179059970-spcqmsd0lt5spg48fg602frseam4uuhj</string>
	<key>API_KEY</key>
	<string>AIzaSyCxSYKV8bgyV-yvJIO13ZuMMNNQQvf8c74</string>
	<key>GCM_SENDER_ID</key>
	<string>787179059970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialdynamics.pathways</string>
	<key>PROJECT_ID</key>
	<string>pathways-429eb</string>
	<key>STORAGE_BUCKET</key>
	<string>pathways-429eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787179059970:ios:45f187c335efc2e89ce01b</string>
	<key>DATABASE_URL</key>
	<string>https://pathways-429eb.firebaseio.com</string>
</dict>
</plist>