<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062328257232-ncbrgkefgdkc3su5hjohghebkbdpbr6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062328257232-ncbrgkefgdkc3su5hjohghebkbdpbr6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBsGFS6wYKqY_8H22OBgtud03YlbueuLwA</string>
	<key>GCM_SENDER_ID</key>
	<string>1062328257232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tickle.sqweeks</string>
	<key>PROJECT_ID</key>
	<string>tickle-suds</string>
	<key>STORAGE_BUCKET</key>
	<string>tickle-suds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062328257232:ios:0c9b8b75e2e7415e</string>
	<key>DATABASE_URL</key>
	<string>https://tickle-suds.firebaseio.com</string>
</dict>
</plist>